[submodule "sources/crawler4j"]
	path = sources/crawler4j
	url = https://github.com/uroborus2s/crawler4j.git
	branch = feature/task-plugin-system
[submodule "sources/stratix"]
	path = sources/stratix
	url = https://github.com/uroborus2s/obsync-root.git
	branch = main
[submodule "sources/ride-loop"]
	path = sources/ride-loop
	url = https://github.com/uroborus2s/ride-loop.git
	branch = main
[submodule "sources/shanforge"]
	path = sources/shanforge
	url = https://github.com/uroborus2s/shanforge.git
	branch = main
